body {
  background-color: #343a40;
}
.img-fundo {
  background-image: url(./avengers.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  opacity: 70%;
}
